<div class="center jumbotron">
  <h1>おすすめの植物園</h1>
  <h2>行ってきれい，楽しいと思った植物園を登録して，情報共有をしよう</h2>

  <%= link_to "登録", '#', class: "btn btn-lg btn-primary" %>
</div>

<article>
  <section>
     <h2 style=" font-weight: bold; text-align: left; text-decoration: underline; font-size: 24px;">1位：京都府立植物園(京都府)</h2>
    <p>投稿者：aaaaaa</p>
    <p>投稿日：aaaaaa</p>
  </section>
  <section>
    <h2 style=" font-weight: bold; text-align: left; text-decoration: underline;  font-size: 24px;">2位：咲くやこの花館(大阪府)</h2>
    <p>投稿者：bbbbbb</p>
    <p>投稿日：aaaaaa</p>
  </section>
    <section>
    <h2 style=" font-weight: bold; text-align: left; text-decoration: underline;  font-size: 24px;">3位：牧野植物園(高知県)</h2>
    <p>投稿者：cccccc</p>
    <p>投稿日：aaaaaa</p>
  </section>
</article>
