<footer class="footer">
  <small>
	作成者:光定幸嬉   ,   mail:kouki06181024@gmail.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
