<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "植物園の登録アプリ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "投稿する",   help_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>